<ion-view title="Baby Words">
    <ion-content>
        <bw-notification></bw-notification>

        <h4>Baby said...</h4>
        <ul class="list">
            <li class="item" ng-repeat="w in words track by $index" ng-click="viewWord(w)">
                {{w.word}}
                <span class="item-note">
                    {{w.when | date}}
                </span>
            </li>
        </ul>
        <a href="#/words/new" class="button button-positive button-block">New word!</a>
    </ion-content>
</ion-view>